doctype 5
html
	head
		title Vec output
		meta(charset='utf-8')
		link(rel='stylesheet',href='../css/bootstrap.min.css')
		link(rel='stylesheet',href='../css/vec/output.css')
		script(src="../js/libs/modernizr-2.5.3.min.js")
	body
		.container
			header.row
			section.row#main
				div.span12
					h4 一、母液配制
					ol
						li 从浓度为#{raw.c.data} #{raw.c.unit}的原药中使用电子天秤称量#{raw.d.data} #{raw.d.unit}药剂。
						li 加稀释液定容至#{middle.d.data} #{middle.d.unit}，配制成浓度为#{middle.c[0].data} #{middle.c[0].unit}的母液。
					h4 二、中间过程－10倍稀释
					h5 经过 <em>#{middle.dt}</em> 次稀释，将母液浓度稀释至接近终浓度。
					ol
						each c, i in middle.c
							if(i!= middle.c.length - 1)
								li 从浓度为#{c.data} #{c.unit}的药液中，吸取#{middle.dTake.data} #{middle.dTake.unit}，加稀释液定容至#{middle.d.data} #{middle.d.unit}。
							else
								li 从浓度为#{c.data} #{c.unit}的药液中，吸取#{middle.dTakeLast.data} #{middle.dTakeLast.unit}，加稀释液定容至#{end.dp.data} #{end.dp.unit}，从而配制成终浓度为#{end.ch.data} #{end.ch.unit}的溶剂。
					h4 三、终浓度配制
					h5 配制 <em>#{end.gn}</em> 组药剂，组间比值为 <em>#{end.pr}</em>，每组溶剂配制 <em>#{end.d.data} #{end.d.unit}</em>
					ol
						each c, i in end.c
							if(i!= end.c.length - 1)
								li 从浓度为#{c.data} #{c.unit}的药液中，吸取#{end.dTake.data} #{end.dTake.unit}，加稀释液定容至#{end.dp.data} #{end.dp.unit}。
							else
								li 配制成终浓度为#{c.data} #{c.unit}的药液，吸取#{end.dTake.data} #{end.dTake.unit}废液，完成整个配制过程。
					hr
			section.row
				div.span12
					h2 下一步
					div.center
						h4 在云端
						img(src='/img/vec/cloudlumina200.png')
						p 唯一地址： <a id='url' rel='bookmark'></a>
				div.span4
					h4 打印
					p 您可以选择打印该列表
					p 
				div.span4
					p 您只需将该地址储存至书签
				div.span4
					p 或，选择将此地址发至您的邮箱
					form.form-inline#send
						div.input-prepend.input-append
							span.add-on <i class='icon-envelope'></i>
							input.span2#sendTo(type='email',placeholder='email')
							button.btn(type='submit') 发送
						p#errMessage
			footer.row
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			window.jQuery || document.write('<script src="../js/libs/jquery-1.7.2.min.js"><\/script>');
		script(src='../js/libs/handlebars-1.0.0.beta.6.js')
		script(src='../js/libs/ember-1.0.pre.min.js')
		script(src='../js/vec/output.js')