doctype 5
html
	head
		title Vec output
		meta(charset='utf-8')
		link(rel='stylesheet',href='../css/bootstrap.min.css')
		link(rel='stylesheet',href='../css/vec/output.css')
		script(src="../js/libs/modernizr-2.5.3.min.js")
	body
		header.container
			.row
				div#holder.span4
					p.speech 测试版
				div#guide.span8
					ul.nav.nav-pills
						li
							a(href='#motherliquid') 母液配制
						li
							a(href='#middle') 中间稀释
						li
							a(href='#final') 终浓度配置
						li
							a(href='#next') 下一步
		.container
			section.row#main
				div.span12
					#motherliquid
						h4 #母液配制
						h5 母液配制是将#{raw.c.data} %原药配置成1%母液的过程。
						h5 完成该步骤后，再根据需要将母液逐级稀释成合适的浓度。
						h5 所需工具：原药，电子天秤
						div.process
							h6 详细过程：
							ol
								li 从浓度为#{raw.c.data} %的原药中使用电子天秤称量#{raw.d.data} #{raw.d.unit}药剂。
								li 加稀释液定容至1 mL，配制成浓度为#{middle.c[0].data} #{middle.c[0].unit}的母液。
					#middle
						h4 #中间过程
						h5 稀释过程是将母液按每级10倍逐级稀释，直至接近终浓度的过程。
						h5 从上级浓度的药液中取出#{middle.dTake.data} #{middle.dTake.unit}，稀释至#{middle.d.data} #{middle.d.unit}。该过程重复<em>#{middle.dt-1}</em> 次。
						h5 <em>#{middle.dt-1}</em> 次后，从最后一次所配制的中浓度药剂中取出#{middle.dTakeLast.data} #{middle.dTakeLast.unit}，加稀释液定容至#{end.dp.data} #{end.dp.unit}，配制成最高浓度的终浓度药剂。
						h5 所需工具：移液管，容量瓶
						div.process
							h6 详细过程：
							ol
								each c, i in middle.c
									if(i!= middle.c.length - 1)
										li 从浓度为#{c.data} #{c.unit}的药液中，吸取#{middle.dTake.data} #{middle.dTake.unit}，加稀释液定容至#{middle.d.data} #{middle.d.unit}。
									else
										li 从浓度为#{c.data} #{c.unit}的药液中，吸取#{middle.dTakeLast.data} #{middle.dTakeLast.unit}，加稀释液定容至#{end.dp.data} #{end.dp.unit}，从而配制成终浓度为#{end.ch.data} #{end.ch.unit}的溶剂。
					#final
						h4 #终浓度配制
						h5 终浓度配制过程是配置药剂的最后一步，将中间过程稀释的药剂配制成实验所需的浓度；配置成的终浓度药剂需要保存以便后用。
						h5 该过程需要配制 <em>#{end.gn}</em> 种浓度的药剂。
						h5 药剂的浓度分别为
							each c, i in end.c
								if(i!= end.c.length - 1)
									| #{c.data} #{c.unit}，
								else
									| #{c.data} #{c.unit}。
						h5 其组间比值为 <em>#{end.pr}</em>，每组溶剂配制 <em>#{end.d.data} #{end.d.unit}</em>
						h5 配置时需要从上级浓度中吸取#{end.dTake.data} #{end.dTake.unit}，稀释至#{end.dp.data} #{end.dp.unit}。该过程需重复#{end.c.length}次。
						h5 所需工具：移液管，容量瓶，保存瓶
						div.process
							h6 详细过程：
							ol
								each c, i in end.c
									if(i!= end.c.length - 1)
										li 从浓度为#{c.data} #{c.unit}的药液中，吸取#{end.dTake.data} #{end.dTake.unit}，加稀释液定容至#{end.dp.data} #{end.dp.unit}。
									else
										li 配制成终浓度为#{c.data} #{c.unit}的药液，吸取#{end.dTake.data} #{end.dTake.unit}废液，完成整个配制过程。
					hr
			section.row#next
				div.span12
					h2.processHead #下一步
					div.center
						h6 in the cloud
						img(src='/img/vec/cloudlumina200.png')
						p 唯一地址： <a id='url' rel='bookmark'></a>
				div.span4
					h4 打印
					h5 带它去实验室，或者……
					div.content.center
						p windows: <kbd>Ctrl</kbd> + <kbd>P</kbd>
						p mac: <kbd class="light">Cmd</kbd> + <kbd class="light">P</kbd>
						h6 -- OR --
						p 浏览器菜单 - 打印预览
				div.span4
					h4 添加书签
					h5 找回配方的好方法
					div.content.center
						p windows: <kbd>Ctrl</kbd> + <kbd>D</kbd>
						p mac: <kbd class="light">Cmd</kbd> + <kbd class="light">D</kbd>
						h6 -- OR --
						p 浏览器菜单 - 添加书签
				div.span4
					h4 发送至邮箱
					h5 分享、保存该配方
					div.content.center
						form.form-inline#send
							div.input-prepend.input-append
								span.add-on <i class='icon-envelope'></i>
								input.span2#sendTo(type='email',placeholder='email')
								button.btn(type='submit') 发送
							p#errMessage
			include include/footer
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			window.jQuery || document.write('<script src="../js/libs/jquery-1.7.2.min.js"><\/script>');
		script(src="../js/libs/raphael.js")
		script(src='../js/vec/output.js')